<section>
    <div class="container-fluid">
        <form [formGroup]="artistProfileForm">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-outline">
                        <label class="form-label">Artist Name</label><span class="text-danger">*</span>
                        <input type="text" class="form-control"placeholder="Artist Name" formControlName="artistName" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-outline">
                        <label class="form-label">Artist Type</label><span class="text-danger">*</span>
                        <ng-select bindLabel="name" placeholder="Artist Type" formControlName="artistType">
                            <ng-option *ngFor="let artist of artistType">{{artist.name}}</ng-option>
                        </ng-select>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-outline">
                        <label class="form-label">Artist Description</label><span class="text-danger">*</span>
                        <input type="text" class="form-control"placeholder="Artist Description" formControlName="artistDescription"/>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-outline">
                        <label class="form-label">Performance Type</label><span class="text-danger">*</span>
                        <ng-select bindLabel="name" placeholder="Performance Type" [multiple]="false" formControlName="performanceType">
                            <ng-option *ngFor="let artist of artistType">{{artist.name}}</ng-option>
                        </ng-select>
                    </div>
                </div>
            </div>

            <div class="row">
                <h3>Event Details</h3>
                <div class="row mb-4">
                    <div class="col-lg-6 col-sm-12">
                      <!-- Start:Weekdays-Dropdown input field -->
                      <div class="form-outline">
                        <div class="row">
                          <!--Start: from days to days -->
                          <div class="col-12 col-lg-4">
                            <div class="mb-3">
                              <label class="form-label fw-bold">From <span class="text-danger">*</span>
                              </label>
                              <ng-select bindLabel="name" placeholder="From"  formControlName="weekdays1">
                                <!-- <ng-option *ngFor="let weekday1 of weekdays1" [value]="weekday1.dayId" >{{weekday1.day}}</ng-option> -->
                            </ng-select>
                              <!-- <div
                              *ngIf="validator['weekdays1'].invalid &&  (isSubmitted || validator['weekdays1'].dirty) || validator['weekdays1'].touched">
                              <span class="text-danger" *ngIf="validator['weekdays1'].errors?.['required']">This field is
                                required</span>
                                </div> -->
                            </div>
                          </div>
                          <div class="col-12 col-lg-4">
                            <div class="mb-3">
                              <label class="form-label fw-bold">To <span class="text-danger">*</span>
                              </label>
                              <ng-select bindLabel="name" placeholder="To"  formControlName="weekdays2">
                                  <!-- <ng-option *ngFor="let weekday2 of weekdays2" [value]="weekday2.dayId" [disabled]="weekdays1Id == weekday2.dayId">{{weekday2.day}}</ng-option> -->
                              </ng-select>
                              <!-- <div
                              *ngIf="validator['weekdays2'].invalid &&  (isSubmitted || validator['weekdays2'].dirty) || validator['weekdays2'].touched">
                              <span class="text-danger" *ngIf="validator['weekdays2'].errors?.['required']">This field is
                                required</span>
                                </div> -->
                            </div>
                          </div>
                          <div class="col-12 col-lg-4">
                            <div class="m-3">
                            <div class="form-outline">
                                <input type="text" class="form-control"placeholder="Artist Name" formControlName="artistName" />
                            </div>
                          </div>
                          </div>
                             <!--End: from days to days -->
                        </div>
                      </div>
                      <!-- End:Weekdays-Dropdown input field -->
                      
                    </div>
                  </div>
            </div>

        </form>
    </div>
</section>